@model Payment

<form class="border border-2" method="post" asp-action="saveNew" asp-controller="Payment">
	<div asp-validation-summary="All"></div>

	<div class="form-group">
		<label class="form-label" asp-for="PaymentDate"></label>
		<!-- <input type="text" id="Email" name="Email" value="@Model?.PaymentDate" class="form-control" />-->
		<input asp-for="PaymentDate" class="form-control" />
		<span asp-validation-for="PaymentDate" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label class="form-label" asp-for="PaymentMethod"></label>
		<!--	<input type="text" id="Adress" name="Adress" value="@Model?.PaymentMethod" class="form-control" /> -->
		<input asp-for="PaymentMethod" class="form-control" />
		<span asp-validation-for="PaymentMethod" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label class="form-label" asp-for="Amount"></label>
		<!--<input type="number" id="Age" name="Age" value="@Model?.Amount"  class="form-control" />-->
		<input asp-for="Amount" class="form-control" />
		<span asp-validation-for="Amount" class="text-danger"></span>
	</div>
		<div class="form-group">
		<label class="form-label" asp-for="OrderID"></label>
		<!--<input type="number" id="Age" name="Age" value="@Model?.OrderID"  class="form-control" />-->
		<input asp-for="OrderID" class="form-control" />
		<span asp-validation-for="OrderID" class="text-danger"></span>
	</div>
	
	<button type="submit">Save</button>

</form>
@* //عشان ال client side validation *@
@section Scripts {
	@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@ @* // ده موجود في layout // لو مش موجود هحطه *@
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

