@model Customer
<form class="border border-2" method="post" asp-controller="Customer" asp-action="saveEdit" asp-route-id="@Model.CustomerID">
	<!-- @Model.CustomerID to know whose id i was sent-->
	<div asp-validation-summary="All"></div>
	<div class="form-group">
		<label class="form-label" asp-for="Name"></label>
		<input asp-for="Name" class="form-control" />
	</div>
	<div class="form-group">
		<label class="form-label" asp-for="Email"></label>
		<input asp-for="Email" class="form-control" />
	</div>
	<div class="form-group">
		<label class="form-label" asp-for="Address"></label>
		<input asp-for="Address" class="form-control" />
	</div>
	
	<div class="form-group">
		<label class="form-label" asp-for="PhoneNumber"></label>
		<input asp-for="PhoneNumber" class="form-control" />
	</div>
	<div class="form-group">
		<label class="form-label" asp-for="Orders"></label>
		<input asp-for="Orders" class="form-control" />
	</div>
	
	<button type="submit">SaveEdit</button>
</form>
<!-- عشان لو عايز يرجع وميعدلش حاجه-->
@section Scripts {
	<script src="~/lib/jquery/dist/jquery.min.js"></script> @* // ده موجود في layout // لو مش موجود هحطه *@
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
